<%- include("partials/header") -%>

<h2 class="one-year mode">I Year</h2>
<div class="container mode">
  <div class="row mode">
    <div class="col-lg-6 col-sm-12 mode">
      <ul class="list">
        <h3 class="mode">Semester 1</h3>
        <a href="https://drive.google.com/drive/folders/1bpJlDC0xJYyl8D-0XLpfwM1sHuWufo3_" target="_blank">
          <li class="mode">Basic Electrical Engineering</li>
        </a>
        <a href="https://drive.google.com/drive/folders/10GJYGsKHcXtC0PmQEXCyKvwLXY7aSp3o" target="_blank">
          <li class="mode">Physics</li>
        </a>
        <a href="https://drive.google.com/drive/folders/1UKyIkoU1LnFx1NwavIAVyrnr2RSyBxRY" target="_blank">
          <li class="mode">Maths</li>
        </a>
        <a href="https://drive.google.com/drive/folders/11wqy1OGhiLK3QS76O2mUEdKdVseQIZlq" target="_blank">
          <li class="mode">Indian Constitution</li>
        </a>
        <a href="/error">
          <li class="mode">Records (Not Found*)</li>
        </a>
      </ul>
    </div>
    <div class="col-lg-6 col-sm-12 mode">
      <ul class="list">
        <h3 class="mode">Semester 2</h3>
        <a href="https://drive.google.com/drive/folders/1k2BYI1-drGBKmOwcRbeyEZmUeSBZiMWK" target="_blank">
          <li class="mode">Programming for Problem Solving</li>
        </a>
        <a href="https://drive.google.com/drive/folders/1GHPF6HYSljBCE208swVuCqbn6_N9nupQ" target="_blank">
          <li class="mode">Chemistry</li>
        </a>
        <a href="https://drive.google.com/drive/folders/1zrKUAAaTLCNbGXbjiHw-yMJTsuKNqHbC" target="_blank">
          <li class="mode">Maths</li>
        </a>
        <a href="https://drive.google.com/drive/folders/1IDmUSx7HsRkuH4lM-XOBLkhzSJhmAuJh" target="_blank">
          <li class="mode">English</li>
        </a>
        <a href="https://drive.google.com/drive/folders/1pnTvMFaAYd_nP3rlbitsBFy42eX1PvWE" target="_blank">
          <li class="mode">Environmental Science</li>
        </a>
        <a href="https://drive.google.com/drive/folders/1ZvvINEwQ1jm-GB99MPXSfC34of1FnJeW" target="_blank">
          <li class="mode">Essence of Indian Traditional Knowledge</li>
        </a>
        <a href="https://drive.google.com/drive/folders/1--_D1LohvQXJ-16knZJOZABIbdYCtnNh" target="_blank">
          <li class="mode">Records</li>
        </a>
      </ul>
    </div>
  </div>
</div>

<div class="divHr">
  <hr size="0.01" class="mode2">
</div>

<h2 class="two-year mode">II Year</h2>
<div class="container mode">
  <div class="row mode">
    <div class="col col-lg-6 col-sm-12 mode">
      <ul class="list">
        <h3 class="mode">Semester 3</h3>
        <a href="https://drive.google.com/drive/folders/1f2TL9je-X_ROTFv5DrO72qPWC822JJCa" target="_blank">
          <li class="mode">Probability Theory and Stochastic Process</li>
        </a>
        <a href="https://drive.google.com/drive/folders/1V29VbwbaFR9p6zUQulG2T5vawWFe3Sqm" target="_blank">
          <li class="mode">Digital Electronics</li>
        </a>
        <a href="https://drive.google.com/drive/folders/1lrT1wZhQlsCSeiFnAv9b2isiazCxkO-Z" target="_blank">
          <li class="mode">Electronic Devices and Circuits</li>
        </a>
        <a href="https://drive.google.com/drive/folders/1UwSwYSbQeTP4dnhtmWWOcRAA8bTQhJvf" target="_blank">
          <li class="mode">Network Theory</li>
        </a>
        <a href="https://drive.google.com/drive/folders/1EQP25XUHcbqMdJkor1Dj4PPjYRDp2WPj" target="_blank">
          <li class="mode">Effective Technical Communication</li>
        </a>
        <a href="https://drive.google.com/drive/folders/119WnaonKk-LMI6SchnHyaTzek4GF7gTP" target="_blank">
          <li class="mode">Finance & Accounting</li>
        </a>
        <a href="https://drive.google.com/drive/folders/1CSKaYpddriVWPiD78GCOjoQmH-MuUugb" target="_blank">
          <li class="mode">Records</li>
        </a>
      </ul>
    </div>
    <div class="col col-lg-6 col-sm-12 mode">
      <ul class="list">
        <h3 class="mode">Semester 4</h3>
        <a href="https://drive.google.com/drive/folders/1Nuvs3_wWV9V_tclNpgq1kcbks7ecM8jv" target="_blank">
          <li class="mode">Signals & Systems</li>
        </a>
        <a href="https://drive.google.com/drive/folders/1NyGX387uwAkVCqZec6FGi-9Of3zRoBPP" target="_blank">
          <li class="mode">Analog Electronic Circuits</li>
        </a>
        <a href="https://drive.google.com/drive/folders/1OB-YlVO2CzKCCzQiwmu1YnrTq7hZw3LC" target="_blank">
          <li class="mode">Computer Organization and Architecture</li>
        </a>
        <a href="https://drive.google.com/drive/folders/1ODs4d2_ziO8xOvbgMQ_-MJpL1wfuIfcm" target="_blank">
          <li class="mode">Electromagnetic Theory & Transmission Lines</li>
        </a>
        <a href="https://drive.google.com/drive/folders/1OFmw0Bra7Mzq7G7FmG8fjgzJ74pZJIk6" target="_blank">
          <li class="mode">Pulse and Linear Integrated Circuits</li>
        </a>
        <a href="https://drive.google.com/drive/folders/1OG5uHdnPUMi5LILlalo5metCpMJC6Kve" target="_blank">
          <li class="mode">Electronic Measurement and Instrumentation</li>
        </a>
        <a href="https://drive.google.com/drive/folders/1OJ5lpsGKeCf0wRlAleFjPlQ2cWqT49OI" target="_blank">
          <li class="mode">Records</li>
        </a>
      </ul>
    </div>
  </div>
</div>

<div class="divHr">
  <hr size="0.01" class="mode2">
</div>

<h2 class="one-year mode">III Year</h2>
<div class="container mode">
  <div class="row mode">
    <div class="col-lg-6 col-sm-12 mode">
      <ul class="list">
        <h3 class="mode">Semester 5</h3>
        <a href="https://drive.google.com/drive/folders/1zcxKqF6vtDKaB_mlRztYwH4ZvfyEZbAh" target="_blank">
          <li class="mode">Digital Signal Processing</li>
        </a>
        <a href="https://drive.google.com/drive/folders/1zi4jnVEReaKK57Re8nDLIy43ePNsSj81" target="_blank">
          <li class="mode">Microprocessor and Microcontroller</li>
        </a>
        <a href="https://drive.google.com/drive/folders/1zMjkFr6fJC5dQsp2f171Oor_1QZp4QXM" target="_blank">
          <li class="mode">Analog Communication</li>
        </a>
        <a href="https://drive.google.com/drive/folders/1zNehxEhm145kuaK2dotWX1XXGW1n5AEp" target="_blank">
          <li class="mode">Automatic Control Systems</li>
          <a href="https://drive.google.com/drive/folders/1zevdBt5HLIPg6Pq618UuGxLymRT4lGE_" target="_blank">
            <li class="mode">Antennas and Wavepropagation</li>
          </a>
          <a href="https://drive.google.com/drive/folders/1zsKIgGea9KVljwY7CrN_HrrsBSq0Q73o" target="_blank">
            <li class="mode">Industrial Administration and Financial Management</li>
          </a>
          <a href="https://drive.google.com/drive/folders/1zxoVmhp2HG_wAvgkYQVjEM8NiTOAJ8Sb" target="_blank">
            <li class="mode">Records</li>
          </a>
      </ul>
    </div>
  </div>
</div>

<div class="divHr">
  <hr size="0.01" class="mode2">
</div>

<figure class="text-end">
  <div class="blockquote" style="padding: 0 100px 50px;">
    <h5 class="modex">So you didn't get the notes you want. You blew it. Congrats. Give me your email address and I'll notify you if I ever upload the notes.</h5>
    <figcaption class="blockquote-footer" style="padding-top:1.5em;">Akshay ;)</figcaption>
  </div>
</figure>

<div class="query-section footer">
  <a href="query" class="query">
    <h2 class="query q-button">01000010 01000101 01000111!</h2>
  </a>
</div>


<!-- <h3 class="mode patience-text">PATIENCE!</h3> -->
<h1 class="mode"><i class="fa-solid fa-recycle fa-spin recycle-img"></i></h1>

<!-- <h5 class="patience-text mode">Good things take time.</h5> -->



<%- include("partials/footer") -%>
